name: Deploy to o2switch

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run generate

    - name: Deploy to o2switch
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: ${{ secrets.O2SWITCH_HOST }}
        username: ${{ secrets.O2SWITCH_USER }}
        password: ${{ secrets.O2SWITCH_PASSWORD }}
        protocol: ftps
        local-dir: dist/
        server-dir: ${{ secrets.O2SWITCH_REMOTE_PATH }}/
